# requirements.txt
fastapi 
uvicorn[standard]
# для работы с бд
fastapi
uvicorn
sqlalchemy
databases[aiosqlite]
python-dotenv

#для авторизации
passlib
python-jose[cryptography]



# для тестирования
pytest
pytest-asyncio
requests


